/*
 * Globals
 */

 .fb_iframe_widget {
  margin:20px;
  float:right;
}


.top {
color:#fff;
}

.list-group-item{
  color: #333;
  font-size: 18px;
}
.parallax-window {
    min-height: 400px;
    background: transparent;

}
.parallax-mirror {
  z-index: 1 !important; 
      overflow-x: hidden;
}
.img-responsive {
  display: inline-block;
}

/* Links */
a,
a:focus,
a:hover {
  color: #111;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #111;
  border: 1px solid #111;
}


/*
 * Base structure
 */


html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #111;
  text-align: center;
  position: relative;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;

}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.clearfix {
    z-index: 1000;
    background-color: #fff;
}
.masthead-brand, .masthead-nav {
  z-index: 10;
  margin-left : 50px;
  margin-right:50px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  color: #395283; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #6fb1c9;
  border-bottom-color: rgba(0,0,0,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #6fb1c9;
  border-bottom-color: #6fb1c9;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }

  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  padding-top: 100px;
  text-align: center;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #111; /* IE8 proofing */
  color: rgba(0,0,0,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead, .clearfix {
    position: fixed;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

}

@media (min-width: 992px) {
  .cover-container {
    width: 1200px;
  }
}
.parallax-window {
    min-height: 800px;
  }
#soundcloud, #contact {
  margin-top: 100px;
}



.separator, .line-separator {
    display: block;
    width: 90%;
    margin-top: 14px;
    margin-bottom: 30px;
    border-color: darkgrey;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

.id-title {
  text-align: left;
  margin-bottom: 80px;
  color: #395283;
  font-weight: bold
}

.fb-page {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 30px;
}

#logo {
  width:230px;
  height: 80px;
}

.panel, .panel-body {
  padding:0px;
  background-color: transparent;
  color:white;
  margin-bottom: 0px;
  margin-top:0px;
}
.panel-heading {
  background-color: #111;
}
